.body__payment {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main {
  padding-right: 4vw;
  padding-left: 4vw;
  &__title {
    margin-top: 55px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: $bold;
  }
}

.credit {
  border: 1px solid $grey;
  border-radius: 6px;
  &__title {
    padding: 15px;
    border-bottom: 1px solid $grey;
  }
}

.form {
  padding: 15px;
  background: $grey-payment;
  display: block;
  width: 100%;

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: $black-two;
    margin-bottom: 10px;
    &:hover {

      .form {

        &__name,
        &__icon,
        &__line {
          opacity: 1;
        }
      }
    }
  }

  &__name {
    font-weight: $regular;
    font-size: 14px;
    opacity: .5;
  }

  &__card {
    justify-content: space-between;
    display: flex;
  }

  &__field {
    order: 3;
    position: relative;
    width: 100%;
    border: 0;
    font-size: 16px;
    padding: 13px 0;

    &:focus {

      & ~ .form {

        &__name {
          opacity: 1;
        }

      }
    }
  }

  &__btn {
    border-radius: 6px;
    color: $white !important;
    padding: 10px 22px;
    @include btn($blue-two);

    &:hover {
      background: $white !important;
      color: $blue-two !important;
    }
  }
}

.btn {
  &__payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__return {

  }
}

.field {
  &__card {
    width: 100%;
  }

  &__name {
    width: calc(50% - 20px);
    margin-right: 10px;
  }

  &__date {
    width: calc(25% - 20px);
    margin-right: 10px;
  }

  &__cvv {
    width: calc(25% - 20px);
  }
}

.personal {
  border: 1px solid $grey;
  border-radius: 6px;

  &__contact {
    border-bottom: 1px solid $grey;
  }

  &__ship-to {
    border-bottom: 1px solid $grey;
  }

  &__item {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
  }
}

.info {
  &__title {
    min-width: 55px;
    margin-right: 4em;
  }
  &__description {
    margin-right: auto;
  }

  &__change {
    text-align: right;
    color: blue;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}

.cart-bar {
  height: 100vh;
  padding-left: 2vw;
  background: $grey-payment;
}

.cart-result {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.cart-value {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.result-box {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $grey;
}

.cart__result {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.cart__value {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.cart__total {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  &_price {
    font-weight: $super-bold;
  }
}

.mini-cart {

  &__item {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
  }

  &__image-box {
    margin-right: 10px;
    border: 1px solid $grey;
    border-radius: 8px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    max-height: 100px;
    position: relative;
    overflow: hidden;
  }

  &__image__item {
    align-self: center;
    position: absolute;
    object-fit: cover;
    height: 80px;
    width: 80px;
    transition: ease-in $time-half;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__name {
    align-self: center;
    text-align: left;
    margin: 15px 0;
  }

  &__price {
    align-self: center;
    text-align: right;
  }

}

@media screen and (max-width: $screen-md) {
  .body__payment {
    grid-template-columns: 1fr;
  }
  .cart-bar {
    display: none;
  }
}


