$roboto-light: "roboto-light", sans-serif;
$roboto-regular: "roboto-regular", sans-serif;

// colors
$blue: #1990c6;
$text: #333333;
$light-dark: #737373;
$grey: #d9d9d9;
$grey-dark: #919191;
$red: #de0000;
$white: #fff;
$green: #2fc718;
$cart-price: #0ec4b6;
$border-image-color: #e5e5e5;
$card-summary-items-color: #848484;
$cart-summary-background-color: #fafafa;
$cart-summary-border-color: #e1e1e1;
$cart-summary-qty-background: #808080;
$cart-qty-border-color: #f0f0f0;
