section.shipping-method
	.heading
		.heading__title Shipping method
	.card.shipping-method__card
		.card__item.card__item_underlined
			input(type="radio", name="shipping" checked)#shipping__one.card__radio
			label(for="shipping__one").card__label Standart
				.card__price Free
		.card__item.card__item_underlined
			input(type="radio", name="shipping")#shipping__two.card__radio
			label(for="shipping__two").card__label
				.card__text
					span.card__title USPS Priority Mail Internation
					span.card__description 6 to 10 buisiness days
				.card__price $139.91
		.card__item.card__item_underlined
			input(type="radio", name="shipping")#shipping__three.card__radio
			label(for="shipping__three").card__label
				.card__text
					span.card__title USPS Priority Mail Internation
					span.card__description 6 to 10 buisiness days
				.card__price $139.91
		.card__item.card__item_underlined
			input(type="radio", name="shipping")#shipping__four.card__radio
			label(for="shipping__four").card__label
				.card__text
					span.card__title USPS Priority Mail Internation
					span.card__description 6 to 10 buisiness days
				.card__price $139.91