section.contact
	.heading
		h2.heading__title Contact information
	.card.contact__card
		select.card__select
			option(value="+380 99 999 9999") +380 99 999 9999
			option(value="+380 88 888 8888") +380 88 888 8888
	input(type="checkbox").card__checkbox#keep
	label(for="keep").card__label Keep me up to date on news and exclusive offers