section.side-cart
	.background.side-cart__background
	.foreground
		.card.side-cart__card.card_no-border
			.card__item
				.card__left.flex.flex_no-wrap.flex_no-gap.flex-items-center
					.card__img
						img(src="img/fake60x60.png", alt="Fake")
						.card__count 1
					span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, pariatur.
				.card__right.flex.flex_no-wrap.flex_no-gap.flex-items-center
					span.card__price $90.00
			.card__item
				.card__left.flex.flex_no-wrap.flex_no-gap.flex-items-center
					.card__img
						img(src="img/fake60x60.png", alt="Fake")
						.card__count 1
					span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, pariatur.
				.card__right.flex.flex_no-wrap.flex_no-gap.flex-items-center
					span.card__price $90.00
			.card__item
				.card__left.flex.flex_no-wrap.flex_no-gap.flex-items-center
					.card__img
						img(src="img/fake60x60.png", alt="Fake")
						.card__count 1
					span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, pariatur.
				.card__right.flex.flex_no-wrap.flex_no-gap.flex-items-center
					span.card__price $90.00
			.card__item
				.card__left.flex.flex_no-wrap.flex_no-gap.flex-items-center
					.card__img
						img(src="img/fake60x60.png", alt="Fake")
						.card__count 4
					span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, pariatur.
				.card__right.flex.flex_no-wrap.flex_no-gap.flex-items-center
					span.card__price $90.00
		.card.side-cart__card.card_no-border
			.card__item
				.card__left
					p Subtotal
					p Shipping
				.card__right
					p $1,037.0
					p Free
		.card.side-cart__card.side-cart__total.card_no-border
			.card__item
				.card__left
					span Total
				.card__right
					span.card__value USD
					span.card__price $1,037.00