.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown__content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown__content a {
    text-align: center;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown__content {
    display: block;
}

.dropdown__content a:hover { 
    background-color: #f1f1f1
}