<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
	body
		p
			a(href="stage-first.html") stage-first
		p
			a(href="stage-second.html") stage-second
		p
			a(href="stage-third.html") stage-third
		p
			a(href="shopping.html") shopping