<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <meta name="description" content="DevChallenge">
  <link rel="icon" type="image/x-icon" href="https://devchallenge.it/media/media/1101_favicon-devchallenge.ico">
  <title>DEV Challenge</title>
  <link rel="stylesheet" href="css/style.bundle.css">
</head>
<body class="body__payment">

<!-- main -->
<main class="main">
  <h1 class="main__title">Unifo</h1>

  <div class="personal">
    <div class="personal__item personal__contact"><span class="info__title">Contact</span>
      <p class="info__description">+380 99 999 9999</p>  <a class="info__change">Change</a></div>
    <div class="personal__item personal__ship-to"><span class="info__title">Ship-to</span>
      <p class="info__description">Ukraine</p>  <a class="info__change">Change</a></div>
    <div class="personal__item personal__method"><span class="info__title">Method</span>
      <p class="info__description">Standard Free</p>  <a class="info__change">Change</a></div>
  </div>

  <h2 class="mrg-top-xxl txt-bold ">Payment Method</h2>
  <p class="mrg-top-md">All transiction are secure and encrypted</p>
  <div class="credit mrg-top-xl">
    <div class="credit__title">
      <span>Credit card</span>
    </div>

    <form action="#" class="form">
      <label class="field__card form__item " for="card">
        <input placeholder="Card number" class="form__field" type="text" name="card" id="card" required>
      </label>
      <div class="form__card">
        <label class="field__name form__item" for="name">
          <input placeholder="Card holder name" class="form__field" type="email" name="fullname" id="name" required>
        </label>

        <label class="field__date" for="phone">
          <input placeholder="MM / YY" class="form__field mrg-r-sm" type="text" name="phone" id="phone" required>
        </label>

        <label class="field__cvv form__item" for="market">
          <input placeholder="CVV" class="form__field" type="text" name="market" id="market" required>
        </label>
      </div>

    </form>
  </div>
  <div class="btn__payment mrg-btm-xxl pdg-top-xl">
    <a class="btn__return" href="#">< Returning to shopping method</a>
    <button type="submit" class="form__btn">Complete order</button>
  </div>

</main>

<div class="cart-bar">

  <div class="mini-cart mrg-top-xxl">
    <div class="mini-cart__item">
      <div class="mini-cart__image-box">
        <img alt="item" class="mini-cart__image__item" src="img/item1.png"/>
      </div>

      <div class="mini-cart__name">Dagacci Medical Uniform Womens Medical Scrub</div>

      <div class="mini-cart__price">$325.00</div>
    </div>

    <div class="mini-cart__item mrg-top-md">
      <div class="mini-cart__image-box">
        <img alt="item" class="mini-cart__image__item" src="img/item1.png"/>
      </div>

      <div class="mini-cart__name">Dagacci Medical Uniform Womens Medical Scrub</div>

      <div class="mini-cart__price">$325.00</div>
    </div>

    <div class="mini-cart__item mrg-top-md">
      <div class="mini-cart__image-box">
        <img alt="item" class="mini-cart__image__item" src="img/item1.png"/>
      </div>

      <div class="mini-cart__name">Dagacci Medical Uniform Womens Medical Scrub</div>

      <div class="mini-cart__price">$325.00</div>
    </div>

  </div>


  <div class="result-box pdg-top-lg pdg-btm-lg">
    <div class="cart__result">
      <span>Subtotal</span>
      <span>Shipping</span>
    </div>
    <div class="cart__value">
      <span>1,037.00</span>
      <span>Free</span>
    </div>
  </div>

  <div class="cart__total pdg-top-lg ">
    <span>Total</span>
    <span>usd <i class="cart__total_price ">$1,037.00</i></span>
  </div>
</div>


<!-- main -->

</body>
</html>